# Imports here !!!

In [1]:
import os
import pandas as pd
from datetime import datetime, timezone

In [2]:
path_to_raw_data = os.path.dirname(os.getcwd())
df_ob = pd.read_csv(os.path.join(path_to_raw_data,'raw_data','BTCUSDT_S_DEPTH_20220519.csv'))
df_ob.head(3)

,symbol,ts,last_update_id,bp1,bs1,bp2,bs2,bp3,bs3,bp4,...,ap16,as16,ap17,as17,ap18,as18,ap19,as19,ap20,as20
0,BTCUSDT,1652918400006,1519899788740,28700.6,0.155,28699.1,0.019,28699.0,2.043,28697.4,...,28704.8,0.801,28704.9,0.001,28705.1,0.040,28705.2,0.001,28705.3,0.192
1,BTCUSDT,1652918400385,1519899930450,28700.6,0.046,28699.1,0.016,28699.0,1.393,28697.4,...,28704.5,0.002,28704.8,0.801,28704.9,0.001,28705.1,0.040,28705.3,0.192
2,BTCUSDT,1652918400707,1519900081311,28700.6,0.046,28699.1,0.016,28699.0,1.393,28697.4,...,28704.5,0.002,28704.8,0.801,28704.9,0.001,28705.1,0.040,28705.3,0.192

In [3]:
df_ob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149490 entries, 0 to 149489
Data columns (total 83 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   symbol          149490 non-null  object
 1   ts              149490 non-null  int64
 2   last_update_id  149490 non-null  int64
 3   bp1             149490 non-null  float64
 4   bs1             149490 non-null  float64
 5   bp2             149490 non-null  float64
 6   bs2             149490 non-null  float64
 7   bp3             149490 non-null  float64
 8   bs3             149490 non-null  float64
 9   bp4             149490 non-null  float64
 10  bs4             149490 non-null  float64
 11  bp5             149490 non-null  float64
 12  bs5             149490 non-null  float64
 13  bp6             149490 non-null  float64
 14  bs6             149490 non-null  float64
 15  bp7             149490 non-null  float64
 16  bs7             149490 non-null  float64
 17  bp8             149490 non-null  float64
 18  bs8             149490 non-null  float64
 19  bp9             149490 non-null  float64
 20  bs9             149490 non-null  float64
 21  bp10            149490 non-null  float64
 22  bs10            149490 non-null  float64
 23  bp11            149490 non-null  float64
 24  bs11            149490 non-null  float64
 25  bp12            149490 non-null  float64
 26  bs12            149490 non-null  float64
 27  bp13            149490 non-null  float64
 28  bs13            149490 non-null  float64
 29  bp14            149490 non-null  float64
 30  bs14            149490 non-null  float64
 31  bp15            149490 non-null  float64
 32  bs15            149490 non-null  float64
 33  bp16            149490 non-null  float64
 34  bs16            149490 non-null  float64
 35  bp17            149490 non-null  float64
 36  bs17            149490 non-null  float64
 37  bp18            149490 non-null  float64
 38  bs18            149490 non-null  float64
 39  bp19            149490 non-null  float64
 40  bs19            149490 non-null  float64
 41  bp20            149490 non-null  float64
 42  bs20            149490 non-null  float64
 43  ap1             149490 non-null  float64
 44  as1             149490 non-null  float64
 45  ap2             149490 non-null  float64
 46  as2             149490 non-null  float64
 47  ap3             149490 non-null  float64
 48  as3             149490 non-null  float64
 49  ap4             149490 non-null  float64
 50  as4             149490 non-null  float64
 51  ap5             149490 non-null  float64
 52  as5             149490 non-null  float64
 53  ap6             149490 non-null  float64
 54  as6             149490 non-null  float64
 55  ap7             149490 non-null  float64
 56  as7             149490 non-null  float64
 57  ap8             149490 non-null  float64
 58  as8             149490 non-null  float64
 59  ap9             149490 non-null  float64
 60  as9             149490 non-null  float64
 61  ap10            149490 non-null  float64
 62  as10            149490 non-null  float64
 63  ap11            149490 non-null  float64
 64  as11            149490 non-null  float64
 65  ap12            149490 non-null  float64
 66  as12            149490 non-null  float64
 67  ap13            149490 non-null  float64
 68  as13            149490 non-null  float64
 69  ap14            149490 non-null  float64
 70  as14            149490 non-null  float64
 71  ap15            149490 non-null  float64
 72  as15            149490 non-null  float64
 73  ap16            149490 non-null  float64
 74  as16            149490 non-null  float64
 75  ap17            149490 non-null  float64
 76  as17            149490 non-null  float64
 77  ap18            149490 non-null  float64
 78  as18            149490 non-null  float64
 79  ap19            149490 non-null  float64
 80  as19            149490 non-null  float64
 81  ap20            149490 non-null  float64
 82  as20            149490 non-null  float64
dtypes: float64(80), int64(2), object(1)
memory usage: 94.7+ MB

In [4]:
for ts in df_ob.head(4)['ts'].values:
    timestamp = ts
    dt = datetime.fromtimestamp(timestamp/1000.0, tz=timezone.utc).strftime('%Y-%m-%d %H:%M:%S')
    print(dt)

2022-05-19 00:00:00
2022-05-19 00:00:00
2022-05-19 00:00:00
2022-05-19 00:00:01

In [8]:
unix_timestamp = lambda x: datetime.fromtimestamp(x/1000.0, tz=timezone.utc).strftime('%Y-%m-%d %H:%M:%S')
str2date = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
df_ob['timestamp']=df_ob['ts'].apply(unix_timestamp).apply(str2date)
df_ob.head(20)

,symbol,ts,last_update_id,bp1,bs1,bp2,bs2,bp3,bs3,bp4,...,as16,ap17,as17,ap18,as18,ap19,as19,ap20,as20,timestamp
0,BTCUSDT,1652918400006,1519899788740,28700.6,0.155,28699.1,0.019,28699.0,2.043,28697.4,...,0.801,28704.9,0.001,28705.1,0.040,28705.2,0.001,28705.3,0.192,2022-05-19 00:00:00
1,BTCUSDT,1652918400385,1519899930450,28700.6,0.046,28699.1,0.016,28699.0,1.393,28697.4,...,0.002,28704.8,0.801,28704.9,0.001,28705.1,0.040,28705.3,0.192,2022-05-19 00:00:00
2,BTCUSDT,1652918400707,1519900081311,28700.6,0.046,28699.1,0.016,28699.0,1.393,28697.4,...,0.002,28704.8,0.801,28704.9,0.001,28705.1,0.040,28705.3,0.192,2022-05-19 00:00:00
3,BTCUSDT,1652918401133,1519900269449,28700.6,0.046,28699.1,0.016,28699.0,1.393,28697.4,...,0.135,28704.4,0.001,28704.5,0.002,28704.8,0.151,28704.9,0.001,2022-05-19 00:00:01
4,BTCUSDT,1652918401559,1519900452837,28700.6,0.046,28699.1,0.016,28699.0,1.393,28697.4,...,0.135,28704.4,0.001,28704.5,0.002,28704.8,0.151,28704.9,0.001,2022-05-19 00:00:01
5,BTCUSDT,1652918401976,1519900628985,28700.6,0.046,28700.0,0.005,28699.1,0.016,28699.0,...,0.351,28704.3,0.135,28704.4,0.001,28704.5,0.002,28704.8,0.151,2022-05-19 00:00:01
6,BTCUSDT,1652918402197,1519900721933,28700.6,0.046,28700.0,0.005,28699.1,0.016,28699.0,...,0.165,28704.0,0.351,28704.3,0.135,28704.4,0.001,28704.5,0.002,2022-05-19 00:00:02
7,BTCUSDT,1652918402274,1519900754031,28700.6,0.036,28700.0,0.005,28699.1,0.016,28699.0,...,0.165,28704.0,0.351,28704.3,0.135,28704.4,0.001,28704.5,0.002,2022-05-19 00:00:02
8,BTCUSDT,1652918402377,1519900798387,28700.6,0.036,28700.0,0.005,28699.1,0.016,28699.0,...,0.165,28704.0,0.351,28704.3,0.135,28704.4,0.001,28704.5,0.002,2022-05-19 00:00:02
9,BTCUSDT,1652918402523,1519900860290,28700.6,0.036,28700.0,0.005,28699.1,0.016,28699.0,...,0.165,28704.0,0.351,28704.3,0.135,28704.4,0.001,28704.5,0.002,2022-05-19 00:00:02
10,BTCUSDT,1652918402874,1519900947751,28685.7,0.921,28684.3,0.222,28683.0,1.486,28682.8,...,2.327,28699.2,0.958,28699.6,0.026,28699.7,0.003,28699.9,1.512,2022-05-19 00:00:02
11,BTCUSDT,1652918402890,1519900950016,28685.7,0.638,28684.3,0.222,28683.0,1.486,28682.8,...,2.327,28699.2,0.958,28699.6,0.026,28699.7,0.003,28699.9,1.512,2022-05-19 00:00:02
12,BTCUSDT,1652918405618,1519901030735,28696.8,2.129,28696.6,0.064,28691.4,1.118,28690.1,...,0.088,28703.3,0.539,28703.4,1.210,28703.5,4.844,28703.6,1.533,2022-05-19 00:00:05
13,BTCUSDT,1652918405732,1519901032565,28696.6,0.017,28691.4,1.118,28690.1,0.256,28689.3,...,0.539,28703.4,1.210,28703.5,4.844,28703.6,1.533,28703.8,0.017,2022-05-19 00:00:05
14,BTCUSDT,1652918409725,1519901181978,28700.6,50.147,28700.5,1.836,28700.0,0.046,28697.0,...,0.050,28703.1,0.087,28703.2,0.001,28703.4,1.195,28703.5,1.149,2022-05-19 00:00:09
15,BTCUSDT,1652918409789,1519901184790,28700.6,50.042,28700.5,1.938,28700.0,0.046,28697.0,...,0.001,28703.4,1.195,28703.5,1.149,28703.6,0.260,28703.8,0.629,2022-05-19 00:00:09
16,BTCUSDT,1652918411504,1519901300116,28702.5,2.508,28702.4,2.246,28702.2,2.399,28702.1,...,0.001,28706.2,0.175,28706.4,0.010,28706.5,0.004,28706.6,0.001,2022-05-19 00:00:11
17,BTCUSDT,1652918411649,1519901312349,28702.5,4.265,28702.4,2.272,28702.3,2.130,28702.2,...,1.193,28707.5,0.077,28707.6,0.339,28707.9,0.411,28708.0,0.022,2022-05-19 00:00:11
18,BTCUSDT,1652918412740,1519901412168,28713.6,13.969,28713.5,1.895,28713.4,3.219,28713.2,...,0.004,28717.4,0.217,28717.5,0.015,28717.6,0.408,28717.9,0.500,2022-05-19 00:00:12
19,BTCUSDT,1652918414011,1519901494620,28718.3,0.070,28717.8,0.249,28717.3,0.071,28717.2,...,0.104,28722.2,0.005,28722.6,0.056,28722.7,0.652,28722.8,3.001,2022-05-19 00:00:14

In [13]:
df_ob.groupby(['timestamp'])['timestamp'].value_counts()

timestamp            timestamp
2022-05-19 00:00:00  2022-05-19 00:00:00    3
2022-05-19 00:00:01  2022-05-19 00:00:01    3
2022-05-19 00:00:02  2022-05-19 00:00:02    6
2022-05-19 00:00:05  2022-05-19 00:00:05    2
2022-05-19 00:00:09  2022-05-19 00:00:09    2
                                           ..
2022-05-19 23:59:55  2022-05-19 23:59:55    2
2022-05-19 23:59:56  2022-05-19 23:59:56    2
2022-05-19 23:59:57  2022-05-19 23:59:57    1
2022-05-19 23:59:58  2022-05-19 23:59:58    2
2022-05-19 23:59:59  2022-05-19 23:59:59    2
Name: timestamp, Length: 84301, dtype: int64

In [6]:
df_agg = df_ob.groupby(pd.Grouper(key='timestamp', axis=0, freq='S')).mean()
df_agg.reset_index(inplace=True)

df_agg.head(10)

,timestamp,ts,last_update_id,bp1,bs1,bp2,bs2,bp3,bs3,bp4,...,ap16,as16,ap17,as17,ap18,as18,ap19,as19,ap20,as20
0,2022-05-19 00:00:00,1.652918e+12,1.519900e+12,28700.600000,0.082333,28699.100000,0.017000,28699.000000,1.609667,28697.400000,...,28704.6,0.268333,28704.833333,0.534333,28704.966667,0.014000,28705.133333,0.027000,28705.300000,0.192000
1,2022-05-19 00:00:01,1.652918e+12,1.519900e+12,28700.600000,0.046000,28699.400000,0.012333,28699.033333,0.934000,28697.933333,...,28704.2,0.207000,28704.366667,0.045667,28704.466667,0.001667,28704.700000,0.101333,28704.866667,0.051000
2,2022-05-19 00:00:02,1.652918e+12,1.519901e+12,28695.633333,0.285500,28694.766667,0.077333,28693.733333,0.506000,28693.600000,...,28702.3,0.885667,28702.400000,0.553333,28702.733333,0.098667,28702.833333,0.001667,28702.966667,0.505333
3,2022-05-19 00:00:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-05-19 00:00:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2022-05-19 00:00:05,1.652918e+12,1.519901e+12,28696.700000,1.073000,28694.000000,0.591000,28690.750000,0.687000,28689.700000,...,28703.2,0.313500,28703.350000,0.874500,28703.450000,3.027000,28703.550000,3.188500,28703.700000,0.775000
6,2022-05-19 00:00:06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2022-05-19 00:00:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2022-05-19 00:00:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2022-05-19 00:00:09,1.652918e+12,1.519901e+12,28700.600000,50.094500,28700.500000,1.887000,28700.000000,0.046000,28697.000000,...,28703.1,0.025500,28703.250000,0.641000,28703.350000,0.575000,28703.500000,0.727500,28703.650000,0.889000

In [ ]:
df_agg['less30s']=df_agg['timestamp'].dt.second<30
df_agg['primary_key']=df_agg['timestamp'].dt.strftime('%Y-%m-%d %H:%M')+df_agg['less30s'].apply(lambda x: ':15' if x==True else ':45')
df_agg.drop(columns=['timestamp','less30s','last_update_id','ts'], inplace=True)
df_agg

In [29]:
df_agg = df_agg.groupby(['primary_key']).mean()
df_agg.reset_index(inplace=True)
df_agg.head()

,primary_key,bp1,bs1,bp2,bs2,bp3,bs3,bp4,bs4,bp5,...,ap16,as16,ap17,as17,ap18,as18,ap19,as19,ap20,as20
0,2022-05-19 00:00:15,28720.075362,3.772080,28719.533333,1.405377,28719.011594,0.626551,28718.371014,0.505087,28717.980435,...,28724.006522,0.418891,28724.167391,0.487558,28724.361594,0.706101,28724.511594,0.707326,28724.657971,1.104145
1,2022-05-19 00:00:45,28755.960345,1.878828,28755.570690,0.335776,28755.050000,0.573517,28754.684483,0.737259,28754.279310,...,28760.520690,7.383086,28760.674138,4.193586,28760.872414,0.620983,28761.067241,0.773897,28761.250000,0.854017
2,2022-05-19 00:01:15,28782.703333,1.771600,28782.131667,0.536867,28781.485000,0.402600,28781.140000,0.382467,28780.815000,...,28787.931667,0.427633,28788.138333,0.580383,28788.331667,0.421400,28788.506667,0.376617,28788.750000,0.425300
3,2022-05-19 00:01:45,28789.470000,1.767750,28788.766667,0.343217,28788.278333,0.243650,28788.046667,0.325300,28787.726667,...,28793.874833,0.486350,28794.093333,0.346800,28794.290000,1.161250,28794.483000,0.536067,28794.623333,0.395067
4,2022-05-19 00:02:15,28788.382759,1.634448,28787.839655,0.342845,28787.370690,0.396414,28787.039655,0.232483,28786.703448,...,28792.984483,0.383293,28793.143103,0.595362,28793.387931,0.417172,28793.587931,0.473741,28793.763793,0.417776

In [9]:
df_agg.set_index('timestamp',inplace=True)
df_agg.rolling('2S').mean().head()

/var/folders/91/6wbfy1kd3c54vx64tq8sck_00000gn/T/ipykernel_7282/641587005.py:2: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['until_mins'], dtype='object')
  df_agg.rolling('2S').mean().head()

,ts,last_update_id,bp1,bs1,bp2,bs2,bp3,bs3,bp4,bs4,...,as16,ap17,as17,ap18,as18,ap19,as19,ap20,as20,seconds
timestamp,,,,,,,,,,,,,,,,,,,,,
2022-05-19 00:00:00,4.958755e+12,4.559700e+12,86101.8,0.2470,86097.30,0.0510,86097.00,4.8290,86092.2,0.3150,...,0.8050,86114.50,1.6030,86114.90,0.0420,86115.40,0.0810,86115.90,0.5760,0.0
2022-05-19 00:00:01,4.958755e+12,4.559701e+12,86101.8,0.1925,86097.75,0.0440,86097.05,3.8155,86093.0,0.9590,...,0.7130,86113.80,0.8700,86114.15,0.0235,86114.75,0.1925,86115.25,0.3645,0.5
2022-05-19 00:00:02,7.438133e+12,6.839553e+12,129137.8,0.9255,129133.40,0.2505,129129.75,2.9190,129127.7,3.7375,...,2.9675,129163.75,1.7285,129164.90,0.2985,129165.55,0.1570,129166.20,1.5925,1.5
2022-05-19 00:00:03,4.958755e+12,4.559703e+12,86086.9,0.8565,86084.30,0.2320,86081.20,1.5180,86080.8,2.9360,...,2.6570,86107.20,1.6600,86108.20,0.2960,86108.50,0.0050,86108.90,1.5160,2.5

# Fixing streaming preprocessing data

In [4]:
import os
import pandas as pd
from datetime import datetime, timezone

In [34]:
path_to_raw_data = os.path.dirname(os.getcwd())
path_to_csv_file = os.path.join(path_to_raw_data,'raw_data','BTCUSDT_S_DEPTH_20220519.csv')
path_to_csv_file

'/Users/fipm/code/abefarkas/Thalassa_Regime_Classifier/raw_data/BTCUSDT_S_DEPTH_20220519.csv'

In [35]:
def preprocessing_streamed_data(df_ob, rolling_window=3):
    '''preprocessing of data for streamed data'''

    # from unix timestamp to human date
    unix_timestamp = lambda x: datetime.fromtimestamp(x/1000.0, tz=timezone.utc).strftime('%Y-%m-%d %H:%M:%S')
    str2date = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
    df_ob['timestamp']=df_ob['ts'].apply(unix_timestamp).apply(str2date)

    # aggregating by seconds     
    df_agg = df_ob.groupby(pd.Grouper(key='timestamp', axis=0, freq='S')).mean()
    # applying rolling window of rolling_window lenght
    df_agg = df_agg.rolling(str(rolling_window)+'S').mean()
    df_agg.reset_index(inplace=True)
    # dropping useless columns
    df_agg.drop(columns=['last_update_id','ts'], inplace=True)

    return df_agg

In [36]:
# getting data
df_ob = pd.read_csv(path_to_csv_file)
a = preprocessing_streamed_data(df_ob,2)
a.head(10)

,timestamp,bp1,bs1,bp2,bs2,bp3,bs3,bp4,bs4,bp5,...,ap16,as16,ap17,as17,ap18,as18,ap19,as19,ap20,as20
0,2022-05-19 00:00:00,28700.600000,0.082333,28699.100000,0.017000,28699.000000,1.609667,28697.400000,0.105000,28696.80,...,28704.60,0.268333,28704.833333,0.534333,28704.966667,0.014000,28705.133333,0.027000,28705.300000,0.192000
1,2022-05-19 00:00:01,28700.600000,0.064167,28699.250000,0.014667,28699.016667,1.271833,28697.666667,0.319667,28696.90,...,28704.40,0.237667,28704.600000,0.290000,28704.716667,0.007833,28704.916667,0.064167,28705.083333,0.121500
2,2022-05-19 00:00:02,28698.116667,0.165750,28697.083333,0.044833,28696.383333,0.720000,28695.766667,0.756500,28694.75,...,28703.25,0.546333,28703.383333,0.299500,28703.600000,0.050167,28703.766667,0.051500,28703.916667,0.278167
3,2022-05-19 00:00:03,28695.633333,0.285500,28694.766667,0.077333,28693.733333,0.506000,28693.600000,0.978667,28692.50,...,28702.30,0.885667,28702.400000,0.553333,28702.733333,0.098667,28702.833333,0.001667,28702.966667,0.505333
4,2022-05-19 00:00:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2022-05-19 00:00:05,28696.700000,1.073000,28694.000000,0.591000,28690.750000,0.687000,28689.700000,0.129500,28688.60,...,28703.20,0.313500,28703.350000,0.874500,28703.450000,3.027000,28703.550000,3.188500,28703.700000,0.775000
6,2022-05-19 00:00:06,28696.700000,1.073000,28694.000000,0.591000,28690.750000,0.687000,28689.700000,0.129500,28688.60,...,28703.20,0.313500,28703.350000,0.874500,28703.450000,3.027000,28703.550000,3.188500,28703.700000,0.775000
7,2022-05-19 00:00:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2022-05-19 00:00:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2022-05-19 00:00:09,28700.600000,50.094500,28700.500000,1.887000,28700.000000,0.046000,28697.000000,0.086000,28696.90,...,28703.10,0.025500,28703.250000,0.641000,28703.350000,0.575000,28703.500000,0.727500,28703.650000,0.889000